:host{
    .panel{
        margin-top:10%; 
        .panel-heading{
            background-color: rgb(139, 195, 76) !important;
            .panel-title{
                font-size: x-large;
                font-weight: bold;
                color: red
            }
        }
    }
    
}