<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Quản lý thỉnh nguyện thư</h3>
    </div>
    <div class="panel-body">      
      <table class="table table-bordered table-hover" *ngIf="penddings.length > 0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Desire</th>
            <th>Location</th>
            <th>Tags</th>
            <th>User</th>
            <th>Content</th>
            <th>Action</th>                                                                                  
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of penddings; let i = index">
            <td>{{i+1}}</td>
            <td>{{item.desire? 'Thỉnh nguyện' : 'Bình thường'}}</td>
            <td>{{item.locationID}}</td>
            <td>#{{item.tags}}</td>
            <td>{{item.user.name}}</td>
            <td>
              {{item.contents.text |slice:0:50 }} ...              
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="float: right;">More</button>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      <div class="modal-body">
                        <p>{{item.contents.text}}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>                    
                  </div>
                </div>            
            </td>
            <td>
             <button type="button" class="btn btn-success" (click)="onConfirm(i)">Confirm</button>   
             <button type="button" class="btn btn-danger" (click)="onDelete(i)">Delete</button>                                      
            </td>            
          </tr>
        </tbody>
      </table>
      <h2 *ngIf="penddings.length ==0" style="text-align: center"> Không có thỉnh nguyện thư cần duyệt</h2>
    </div>
</div>



